<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.armour8.yooplus.yooplus">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 录音权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name="com.culturer.yoo_home.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_black"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name="com.culturer.yoo_home.function.login.login.LoginActivity"
            android:resizeableActivity="true"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.culturer.yoo_home.test.TestActivity" />
        <activity android:name="com.culturer.yoo_home.function.login.guide.GuideActivity" />
        <activity android:name="com.culturer.yoo_home.function.login.welcome.WelcomeActivity" />
        <activity
            android:name="com.culturer.yoo_home.function.main.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.culturer.yoo_home.function.login.register.RegisterActivity"
            android:resizeableActivity="true"
            android:theme="@style/FullScreenTheme" />
        <activity android:name="com.culturer.yoo_home.function.home.home_album.HomeAlbumActivity" />
        <activity android:name="com.culturer.yoo_home.function.home.home_arrangement.HomeArrangementActivity" />
        <activity android:name="com.culturer.yoo_home.function.home.home_activity.HomeActiviesActivity" />
        <activity android:name="com.culturer.yoo_home.function.home.family_activity.FamilyActivityActivity" />
        <activity android:name="com.culturer.yoo_home.function.home.home_activity.HomeActivitesAddActivity" />
        <activity android:name="com.culturer.yoo_home.function.home.home_album_detail.HomeAlbumDetailActivity" />
        <activity android:name="com.culturer.yoo_home.function.chat.ChatActivity" />
        <!-- Mqtt Service -->
        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service android:name="com.culturer.yoo_home.service.MQTT.MQTTService" />

        <activity android:name="com.culturer.yoo_home.function.login.forget.ForgetActivity" />
        <activity
            android:name="com.culturer.yoo_home.function.login.load.LoadActivity"
            android:resizeableActivity="true"
            android:theme="@style/FullScreenTheme"
            tools:targetApi="n" />
        <activity android:name="com.culturer.yoo_home.function.world.recommend.DetailActivity" />
        <activity android:name="com.culturer.yoo_home.function.mine.MineActivity" />
        <activity android:name="com.culturer.yoo_home.function.world.shows.show.ShowActivity" />
        <activity android:name="com.culturer.yoo_home.function.mine.UserActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.culturer.yoo_home.function.mine.SettingActivity" />
        <activity android:name="com.culturer.yoo_home.test.TestEmojiActivity" />
        <activity android:name="com.culturer.yoo_home.function.home.friends.homecircle_list.HomecircleListActivity" />

        <service
            android:name="com.culturer.yoo_home.service.IM.IMService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.culturer.yoo_home.test.TestTreeViewActivity"></activity>
        <activity android:name="com.culturer.yoo_home.test.TestPerActivity">

        </activity>
    </application>

</manifest>